.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 80px;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  max-width: 700px;
  margin-bottom: 20px;
  font-size: 18px;
}

a {
  text-decoration: underline;
}

.navbar {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: rgba(0, 0, 0, 0.45);
}

.container {
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.nav-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link {
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  color: #d1d1d1;
}

.link-wrap {
  display: inline-block;
}

.underline {
  border-style: solid;
  border-width: 1px;
  border-color: #efb45f;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.black-bg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  padding: 20px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.45);
  text-align: center;
}

.contact-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.contact-item {
  padding: 10px 20px 20px;
}

.m-12 {
  margin-bottom: 12px;
}

.paragraph {
  max-width: 660px;
  color: hsla(0, 0%, 100%, 0.84);
  font-size: 16px;
}

.image-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/church-iphone-min.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/church-iphone-min.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.large {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 80px;
  line-height: 1.1;
}

.heading {
  font-style: italic;
}

.logo-sm {
  font-size: 40px;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 50px;
  }

  .black-bg {
    padding: 26px;
  }
}

@media screen and (max-width: 479px) {
  body {
    display: block;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  h1 {
    font-size: 24px;
    line-height: 1.2;
  }

  h2 {
    margin-top: 12px;
    font-size: 20px;
    line-height: 1.6;
  }

  p {
    font-size: 16px;
  }

  .navbar {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .nav-flex {
    display: block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .black-bg {
    display: block;
    margin-top: 12px;
    padding: 10px 12px;
  }

  .contact-item {
    padding: 7px 12px;
  }

  .logo {
    margin-bottom: 12px;
  }

  .image-bg {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/church-iphone-min.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/church-iphone-min.jpg');
    background-position: 0px 0px, 50% 50%;
  }

  .phone-icon {
    display: none;
  }
}

